@media screen and (min-width: 500px) {
    .Mobile-nav-logged-out{
        display: none;
    }
    .Mobile-nav-logged-in {
        display: none;
    }

    .home-logged-in-mobile {
        display: none;
    }

    .home-logged-out-mobile {
        display: none;
    }
    .home-page .home-logged-out .upper-container{
        background-image: url('../../Layouts/Images/background-world-map.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: 65% 60%;
    }

    .home-page .home-logged-out .lower-container .top h4 {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 34px;
        line-height: 40px;
        text-align: center;
        letter-spacing: 0.25px;
        color: #619B8A;
    }
    
    .home-page .home-logged-out .lower-container .top p {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        text-align: center;
        color: #233D4D;
    }

    .home-page .home-logged-out .lower-container .images {
        display: flex;
        max-width: 90%;
        justify-content: space-between;
        margin: 0 auto 5%;
    }
    .home-page .home-logged-out .lower-container .sign-up-btn {
    max-width: 8%;
    margin: 0 auto 5%;
    height: 39px;
}

.home-page .home-logged-out .lower-container .sign-up-btn .green-btn {
    min-height: 100%;
}

.desktop-nav-logged-in {
    display: flex;
    justify-content: space-between;
    max-width: 90%;
    margin: 1% auto 2%;
}
.desktop-nav-logged-in img {
    max-height: 40px;
}
.desktop-nav-logged-in ul li img {
    margin-top: 2px;
    max-width: 36px;
    max-height: 36px;
}


.desktop-nav-logged-in .geotagger-logo {
    margin-top: 10px;
}
.desktop-nav-logged-in ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    min-width: 30%;
}
.desktop-nav-logged-in ul a {
    text-decoration: none;
}
.desktop-nav-logged-in ul .text {
    margin-top: 10px;
}

.desktop-nav-logged-in ul li  {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #233D4D;
    margin-left: 15px;
}


}

@media screen and (max-width: 500px) {
  .desktop-nav-logged-in {
    display: none;
  }
  .desktop-nav-logged-out{
    display: none;
  }

  .home-logged-in{
      display: none;
  }

  .home-logged-out {
      display: none;
  }

  .home-page .home-logged-out .upper-container .upper-container-text {
      max-width: 80%;
      background-image:none;
      background-size: 0;
      margin: 0 auto;
  }

  .home-page .home-logged-out .upper-container .upper-container-text h2 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 34px;
    line-height: 40px;
    text-align: center;
    letter-spacing: 0.25px;
    color: #619B8A;
    margin-top: 20%;
  }

  .home-page .home-logged-out .upper-container .upper-container-text p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #233D4D;
    margin-top: 0;
  }

  .home-page .home-logged-out .upper-container .upper-container-text a{
      margin: 0 auto 20%;
      min-width: 100%;
      display: flex;
      justify-content: center;
      text-decoration: none;
  }

  .home-page .home-logged-out .upper-container .upper-container-text .green-btn{
    
    min-width: 30%;
}

  .home-page .home-logged-out .upper-container .background-image {
    background-image: url('../../Layouts/Images/background-world-map.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    min-width: 100%;
    min-height: 200px;

  }

  .home-page .home-logged-out .lower-container .top {
      min-width: 85%;
  }

  .home-page .home-logged-out .lower-container .top h4 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    color: #619B8A;
    margin-top: 25%;
  }

  .home-page .home-logged-out .lower-container .top p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #233D4D;
}

.home-page .home-logged-out .lower-container .images {
    display: flex;
    max-width: 85%;
    justify-content: space-between;
    flex-direction: column;
    margin: 10% auto 10%;
}

.home-page .home-logged-out .lower-container .images .images-item {
    margin-top: 5%;
}


.home-page .home-logged-out .lower-container .sign-up-btn a {
    min-width: 30%;
    margin: 0 auto;

}

.home-page .home-logged-out .lower-container .sign-up-btn a .green-btn {
    min-width: 30%;
    margin: 0 35% 10% 35%;
}


}

.home-page .home-logged-out .lower-container .images #image-one{
    background-image:
    linear-gradient(90deg, rgba(102, 159, 137, 0.6) 50%, rgba(159, 193, 129, 0.6) 128%),
    url('../../Layouts/Images/Lockedcard.png');
    background-size: cover;
    min-width: 30%;
    min-height: 200px; 
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.home-page .home-logged-out .lower-container .images #image-two{
    background-image:
    linear-gradient(90deg, rgba(102, 159, 137, 0.6) 50%, rgba(159, 193, 129, 0.6) 128%),
    url('../../Layouts/Images/Lockedcard_2.png');
    background-size: cover;
    min-width: 30%;
    min-height: 200px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.home-page .home-logged-out .lower-container .images #image-three{
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background-image:
    linear-gradient(90deg, rgba(102, 159, 137, 0.6) 50%, rgba(159, 193, 129, 0.6) 128%),
    url('../../Layouts/Images/Lockedcard_3.png');
    background-size:cover;
    min-width: 30%;
    min-height: 200px;
}


.home-page .home-logged-out {
    display: flex;
    flex-direction: column;
}


.home-page .home-logged-out .upper-container-text {
    display: flex;
    flex-direction: column;
    max-width: 28%;
    margin-left: 6%;
    margin-top: 10%;
}

.home-page .home-logged-out .upper-container  .green-btn {
    min-width: 25%;
    max-width: 30%;
    margin: 5% 0;
    padding: 2.2% 0;
}

.home-page .home-logged-out .upper-container p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #233D4D;
}
.home-page .home-logged-out .upper-container h2 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 61px;
    line-height: 70px;
    letter-spacing: -0.5px;
    color: #619B8A;
}

.home-page .home-logged-out .lower-container .top {
    max-width: 36%;
    margin: 0 auto 5% auto;
}


.home-logged-in .upper-container h4,
.home-logged-in .lower-container h4{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 34px;
    line-height: 40px;
    letter-spacing: 0.25px; 
    color: #619B8A;
}

.home-logged-in .upper-container p,
.home-logged-in .lower-container p{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #233D4D;
}

.home-logged-in {
    margin:4%;
}

.home-logged-in .upper-container {
    margin:1%;
}

.home-logged-in .lower-container h4,
.home-logged-in .lower-container p {
    margin:1%;
}

.home-logged-in .pb-item {
    max-width: 31.3%;
    min-height: 240px;
    margin-bottom: 2.5%;
    border-radius: 4px;
    background-size: 100% 100%;
    flex: 0 0 33.3333333%;

}

.home-logged-in .pb-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.home-logged-in .pb-item .meters-paragraph {
    position:relative;
    top: 45%;
    margin: 0;
    text-align: center;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    color: #FFFFFF;
}

.home-logged-in .upper-container .load-more-div,
.home-logged-in .lower-container .load-more-div,
.home-logged-in-mobile .upper-container .load-more-div,
.home-logged-in-mobile .lower-container .load-more-div  {
    margin: 1.5% 1.5% 0 1.5%;
    display: flex;
    justify-content: center;
    min-height: 35px;
}

.home-logged-in .upper-container .load-more-div button,
.home-logged-in .lower-container .load-more-div button,
.home-logged-in-mobile .upper-container .load-more-div button,
.home-logged-in-mobile .lower-container .load-more-div button {
    background: #ffff;
    border: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #619B8A;
    border: 1px solid #669F89;
    border-radius: 4px;
    border-color: #619B8A;
    cursor: pointer;
    padding: 7px 21px
}

.home-logged-in .location-images .location-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0.5%;
}

.home-logged-in .location-item{
    max-width: 31.8%;
    min-height: 240px;
    border-radius: 4px;
    margin-bottom: 2.5%;
    background-size: 100% 100%;
    flex: 0 0 33.3333333%;
    cursor: pointer;
}

.home-logged-in-mobile {
    margin: 7.5%;
}

.home-logged-in-mobile .upper-container h4,
.home-logged-in-mobile .lower-container h4 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 34px;
    line-height: 40px;
    letter-spacing: 0.25px;
    color: #619B8A;
    max-width: 70%;
    margin-bottom: 0;
}

.home-logged-in-mobile .upper-container p,
.home-logged-in-mobile .lower-container p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #233D4D;
    max-width: 96%;
}

.home-logged-in-mobile .upper-container .pb-list {
    display: flex;
    overflow:scroll;
    margin-right: -8%;
}

.home-logged-in-mobile .upper-container .pb-list .pb-item{
        min-width: 345px;
        min-height: 194px;
        margin-right: 5%;
}

.home-logged-in-mobile .upper-container .pb-list .pb-item p {
    margin-top: 22.5%;
    text-align: center;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    color: #FFFFFF;
}

.home-logged-in-mobile .lower-container .location-list{
    min-width: 70%;
    flex-direction: row;
}

.home-logged-in-mobile .lower-container .location-list .location-item{
    max-width: 100%;
    border-radius: 4px;
    min-height: 193px;
    flex-direction: row;
    background-size: 100% 100%;
    margin: 6px -6px 6px -6px;

}

.home-logged-in-mobile .upper-container .load-more-div,
.home-logged-in-mobile .lower-container .load-more-div{
    margin-top: 5%;
}