@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap');

.location-add {
    max-width: 75%;
    margin: 0 auto;
}

.location-add h4 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 34px;
    line-height: 40px;
    letter-spacing: 0.25px;
    color: #233D4D;
    text-align: center;
    margin-bottom: 2%;
}

.location-add h4 span {
    color: #619B8A;
}

.location-add .image-show {
    min-height: 280px;
    max-width: 75%;
    background-position: center;
    margin: 0 auto;
}
@media screen and (min-width: 500px) {
    .location-add .form .input-container .custom-file-upload {
        position: absolute;
        min-width: 75%;
        min-height: 280px;
        cursor: pointer;
        background: none;
    }

    .edit-location-container .input-container .custom-file-upload {
        position: absolute;
        min-width: 60%;
        min-height: 280px;
        cursor: pointer;
        background: none;
    }

    .edit-location-container .input-container {
        max-height: 280px;
        min-height: 280px;
    }
    .edit-location-container .input-container img {
        max-height: 280px;
        width: auto;
        margin: 0 auto;
    }

    .location-add .image-show .handle-file-upload{
        display: flex;
        min-width: 40%;
        margin-left: 60%;
        margin-top: 5%;
        margin-bottom: 5%;
        justify-content: flex-end;
    }

}

.location-add .form .input-container {
    min-height: 280px;
    display: flex;
}

.edit-location-container .input-container {
    display: flex;
    justify-content: center;
}



.location-add .form input[type="file"],
.edit-location-container input[type="file"] {
    display: none;
}

.location-add .image-show img {
    margin: 0 auto;
    min-height: 100%;
    min-width: 100%;
}




.location-add .image-show .handle-file-upload .x-icon-bg {
    background-color: #9B6161;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    color: #fff;
    font-family: 'Kanit', sans-serif;
    font-weight: 500;
    border-radius: 4px;
    cursor: pointer;
}

.location-add .image-show .handle-file-upload button {
        cursor: pointer;
        background-color: #619B8A;
        border: none;
        border-radius: 4px;
        color: #fff;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        padding-left: 10%;
        padding-right: 10%;
        margin-right: 10%;
}


.edit-location-container {
    margin: 15% 22% 22% 20%;
}

.edit-location-container h4 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 34px;
    line-height: 40px;  
    letter-spacing: 0.25px;
    color: #233D4D;
    text-align: center;
    margin-bottom: 2%;
}
.edit-location-container h4 span {
    color: #619B8A;
}

.edit-location-container p {
    margin-left: 2%;
    margin-bottom: 5%;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    opacity: 0.7;
}

.edit-location-container .submit-container {
    display: flex;
    justify-content: space-between;
    margin: 1% 2% 2% 2%;
}

.edit-location-container .submit-container .save-cancel-container {
    min-width: 27%;
    display: flex;
    justify-content: space-between;
}

.edit-location-container .submit-container .save-cancel-container .save-btn{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 10px 50px;
    border: none;
    background: #619B8A;
    border-radius: 4px;
    cursor: pointer;
}

.edit-location-container .submit-container .save-cancel-container .cancel-btn {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #233D4D;
    background: none;
    border: none;
    cursor: pointer;
}

.edit-location-container .submit-container .upload-btn {
    background: #619B8A;
    border-radius: 4px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    padding: 10px 42px;
    border: none;
    cursor: pointer;
}

.location-add .leaflet-map {
    min-width: 60%;
    height: 400px;
    max-width: 75%;
    background-position: center;
    margin: 0 auto;
}

.leaflet-map {
    overflow: hidden;
}
.leaflet-container {
    width: 100%;
    height: 100%;
    border-radius: 4px;
}

html {
    width: 100%;
    overflow-x: hidden;
}

.location-add .submit {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    max-width: 75%;
    margin: 0 auto;
}

.location-add .submit label {
    margin-top: 2%;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    opacity: 0.7;
}

.location-add .submit button {
    min-width: 15%;
    height: 40px;
    margin:  0 0 2% auto;
    background: #619B8A;
    border-radius: 4px;
    border: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    cursor: pointer;
}
.location-add .submit #loc-created {
    border: none;

}
.location-add .submit p {
    margin-top: 0.5%;
    border: 1px solid rgba(0, 0, 0, 0.23);
    padding-top:15px;
    border-radius: 4px;
    min-height: 35px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    opacity: 0.7;
}

@media screen and (max-width: 500px) {
 .location-add .custom-file-upload{
    position: absolute;
    width: 85%;
    min-height: 280px;
    cursor: pointer;
    background: none;
 }

 .location-add {
    min-width: 85%;
 }

 .location-add .handle-file-upload {
    display: flex;
    min-width: 100%;
    margin-left: 0;
    margin-top: 5%;
    margin-bottom: 5%;
    justify-content: space-between;
 }

 .location-add .handle-file-upload button {
     min-width: 75%;
 }

 .location-add .image-show {
     max-width: 95%;
 }

 .location-add .leaflet-map {
     max-width: 95%;
 }

 .location-add .submit {
     max-width: 95%;
     margin-bottom: 10%;
 }

 .location-add .submit label {
     margin-top: 5%;
     margin-bottom: 2%;
 }

 .location-add .submit button {
     min-width: 100%;
 }

 .edit-location-container .input-container .custom-file-upload {
    position: absolute;
    min-width: 90%;
    min-height: 280px;
    cursor: pointer;
 }

 .edit-location-container {
     margin: 5%;
 }

 .edit-location-container .submit-container {
     flex-direction: column;
 }

 .edit-location-container p {
     margin-top:  10%;
     margin-bottom: 10%;
 }

 .edit-location-container .submit-container button {
     margin-bottom: 10%;
 }

 .edit-location-container .image-show img {
     max-width: 100%;
     min-height: 280px;
 }
}


.location-container .leaflet-container {
    min-height: 200px;
    max-height: 400px;
    border-radius: 4px;
}

.location-container{
    display: flex;
    justify-content: space-between;
}

.location-container .leaderboard-div {
    min-width: 420px;
    max-width: 30%;
    margin: 5% 5% 2% 1%;
}

.location-container .location-left {
    min-width: 62%;
    margin: 5% 1% 2% 5%;
}

.location-container .location-left img {
    width: 100%;
    height: 324px;
    border-radius: 4px;
    margin-bottom: 3%;
}

.location-container .location-left h4,
.location-container .leaderboard-div h4 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 34px;
    line-height: 40px;
    letter-spacing: 0.25px; 
    color: #233D4D;
    margin: 0 0 1% 0;
}

.location-container .location-left h4 span {
    color: #619B8A;
}

.location-container .guessed-data-div {
    display: flex;
    flex-direction: column;
}

.location-container .guessed-data-div .upper-part {
    display: flex;
    justify-content: space-between;
}

.location-container .guessed-data-div .upper-part .error-distance {
    min-width: 30%;
}
.location-container .guessed-data-div .upper-part .guessed-location {
    min-width: 65%;
}

.location-container .guessed-data-div p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #000000; 
}

.location-container .guessed-data-div .display {
    min-width: 100%;
    border-color: #E5E5E5;
    border-width: 1px;
    border-style: solid;
    border-radius: 4px;
    min-height: 35px;
    padding-top: 15px;
}

.location-container .guessed-data-div .submit-div {
    max-width: 15%;
    min-height: 39px;
    margin-left:85%;
}
.location-container .guessed-data-div .submit-div button {
    width: 100%;
    min-height: 39px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    background: #619B8A;
    border-radius: 4px;
    border: none;
    cursor: pointer;
}

.location-container .leaderboard-div .leaderboard-list {
    min-height: 94%;
    margin-top: 5%;
}

.location-container .leaderboard-div .leaderboard-list .upload-item {
    max-height: 48px;
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
}

.location-container .leaderboard-div .leaderboard-list .upload-item .user-data {
    display: flex;
    max-width: 80%;
    justify-content: space-between;
}
.location-container .user-name-date {
    margin-top: 5px;
    margin-left: 16px;
}
.location-container .user-name-date .name-p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #233D4D;
}

.location-container .user-name-date .date-time-p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    letter-spacing: 0.4px;
    color: #233D4D;
    text-align: left;
}

.location-container .leaderboard-div .meters-display {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #619B8A;
    margin-right: 5px;
}
.location-container .leaderboard-div .leaderboard-list .upload-item .user-name-date {
    display: flex;
    flex-direction: column;
    max-height: 100%;

}

.location-container .leaderboard-div .leaderboard-list .upload-item .user-name-date p {
    margin: 3px 0 0 0;
}

.upload-item .item-1,
.upload-item .item-2,
.upload-item .item-3,
.upload-item .item-more {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    color: #FFFFFF;
    padding-top: 6px;
    margin-left: 10px;
    margin-top: 10px;
}
.upload-item .item-1 {
    width: 27px;
    height: 21px;
    background: linear-gradient(41.75deg, #FE7F2D 22.78%, #FCCA46 87.18%);
    border-radius: 30px;
    text-align: center;
}

.upload-item .item-2 {
    width: 27px;
    height: 21px;  
    background: linear-gradient(41.75deg, #D8D8D8 22.78%, #999999 87.18%);
    border-radius: 30px;
    text-align: center;
}

.upload-item .item-3 {
    width: 27px;
    height: 21px;
    background: linear-gradient(41.75deg, #956956 22.78%, #D79376 87.18%);
    border-radius: 30px;
    text-align: center;
}

.upload-item .item-more {
    width: 27px;
    height: 21px;
    background: #233D4D;
    border-radius: 30px;
    text-align: center;
}
.location-container .leaderboard-div .leaderboard-list .upload-item img {
    width: 40px;
    height: 40px;
    border-radius: 64px;
}

.upload-item img {
    margin-top: 5px;
    margin-left: 16px;
}


@media screen and (max-width: 500px) { 
    .location-container {
        flex-direction: column;
        margin: 0
    }

    .location-container .location-left {
        margin: 35px;
    }

    .location-container .location-left img {
        max-height: 181px;
    }

    .location-container .leaderboard-div {
        margin: 35px;
        min-width: 350px;
    }
    .location-container .guessed-data-div .submit-div {
        margin-left: 65%;
        min-width: 35%;
    }

    .location-container .guessed-data-div .upper-part {
        flex-direction: column;
    }
}
