.profile-page .my-uploads-list .upload-item {
    flex: 0 0 0 25%;
    min-height: 175px;   
    border-radius: 4px 0px 0px 4px;
    background-size: 100% 100%;
    margin-bottom: 1%;
    min-width: 310px;

    position: relative;
}

.profile-page .my-uploads-list .upload-item img {
    max-width: 310px;
}

.profile-page .my-uploads-list .upload-item .pen-icon {
    position: absolute;
    left: 15px;
    top: 15px;
    cursor: pointer;
    
}

@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap');


.profile-page .my-uploads-list .upload-item .x-icon{
    position: absolute;
    width: 40px;
    height: 40px;
    background: #9B6161;
    border-radius: 4px;
    border: none;
    color: #FFFFFF;
    top: 15px;
    right: 15px;  
    cursor: pointer;
}


.profile-page .my-uploads-list{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.profile-page {
    margin: 5%;
}

.profile-page .profile-data h4{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 34px;
    line-height: 40px;
    text-align: center;
    letter-spacing: 0.25px;
    color: #233D4D;
    margin: 10px 0 10px 0;
}

.profile-page .best-guess h5,
.profile-page .my-uploads h5 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    color: #233D4D;
}

.profile-page .profile-data {
    display: flex;
    justify-content: flex-start;
}

.profile-page .profile-data img {
    margin-right: 3%;
    max-width: 64px;
    max-height: 64px;
    border-radius: 50%;
}

.profile-page .pb-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 100%;
}

.profile-page .pb-list .pb-item {
    flex: 0 0 0 25%;
    min-width: 24%;
    min-height: 175px;
    margin-bottom: 1.5%;
    border-radius: 4px;
}

.profile-page.best-guess {
    max-width: 100%;
}

.profile-page .pb-list .pb-item .meters-paragraph {
    display: relative;
    margin-top: 20%;
    margin-bottom: 0;
    text-align: center;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    color: #FFFFFF;
}

.profile-page .load-more-div {
    display: flex;
    justify-content: center;
}

.profile-page .load-more-div button {
    margin-top: 2%;
    border: 1px solid #669F89;
    border-radius: 4px;
    color: #619B8A;
    background: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    padding: 8px 22px;
}

.delete-location-div {
    position: absolute;
    left: 32%;
    width: 495px;
    height: 226px;
    background-color: #FFFFFF;
    border-radius: 4px;
}

.delete-location-div h4 {
    margin: 32px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 34px;
    line-height: 40px;
    letter-spacing: 0.25px;
    color: #233D4D;
}

.delete-location-div p,
.delete-location-submit p {
    margin: 32px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #233D4D;
}

.delete-location-div .submit {
    margin: 32px;
    display: flex;
    justify-content: space-between;
}

.delete-location-div .submit .submit-btn,
.delete-location-submit .submit-btn {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    padding: 8px 16px;
    background: #619B8A;
    border-radius: 4px;
    border: none;
    color: #FFFFFF;
    cursor: pointer;
}

.delete-location-div .submit .cancel-btn {
    background: none;
    border: none;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #233D4D;
    cursor: pointer;
}

.delete-location-submit {
    position: absolute;
    left: 38%;
    background-color: #FFFFFF;
    width: 355px;
    max-height: 163px;
}

.delete-location-submit {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 36px;
}

.delete-location-submit button {
    max-width: 30%;
    margin: 0 auto;
}

.delete-location-submit p {
    text-align: center;
}
@media screen and (max-width: 500px) {

    .profile-page .profile-data img {
        width: 64px;
        height: 64px;
        border-radius: 50%;
        margin-right: 0;
    }

    .profile-page .profile-data h4 {
        margin-top: 20px;
        font-weight: 400;
        font-size: 24px;
        line-height: 28px;
    }
    
    .profile-page .profile-data {
        margin-top: 10%;
        justify-content: space-between;
        max-width: 70%;
        margin-left: 0;
    }

    .profile-page .best-guess h5,
    .profile-page .my-uploads h5 {
        font-size: 24px;
        line-height: 28px;
        color: #619B8A;
    }

    .profile-page .best-guess .pb-list {
        flex-direction: column;
    }

    .profile-page .best-guess .pb-list .pb-item {
        margin-bottom: 4%;
    }
    .profile-page .my-uploads .my-uploads-list .upload-item {
        min-width: 100%;
    }
    .profile-page .my-uploads .my-uploads-list .upload-item img {
        max-width: 100%;
    }

    .profile-page {
        margin: 36px;
    }

    .delete-location-div{
        left: 5%;
        width: 90%;
    }

    .delete-location-submit {
        max-width: 70%;
        left: 5%;
    }

    .delete-location-div h4 {
        font-size: 34px;
        line-height: 40px;
        letter-spacing: 0.25px;
    }


}