.profile-page .my-uploads-list .upload-item {
    min-width: 24%;
    flex: 0 0 0 25%;
    min-height: 175px;   
    border-radius: 4px 0px 0px 4px;
    background-size: 100% 100%;
    margin-bottom: 1%;
}

.profile-page .my-uploads-list .upload-item .pen-background {
    position: relative;
    padding-right: 5px;
    padding-bottom: 5px;
    width: 35px;
    height: 35px;
    border-radius: 4px;
    left: 15px;
    top: 10px;
}
.profile-page .my-uploads-list .upload-item .x-background {
    position: relative;

    width: 37px;
    height: 30px;
    border-radius: 4px;
    left: 100px;
    top: 10px;
}
.profile-page .my-uploads-list .upload-item .x-background .icon {
    position: relative;
    margin-bottom: 10px;
}

.profile-page .my-uploads-list{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.profile-page {
    margin: 5%;
}

.profile-page .profile-data h4{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 34px;
    line-height: 40px;
    text-align: center;
    letter-spacing: 0.25px;
    color: #233D4D;
    margin: 10px 0 10px 0;
}

.profile-page .best-guess h5,
.profile-page .my-uploads h5 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    color: #233D4D;
}

.profile-page .profile-data {
    display: flex;
    justify-content: flex-start;
}

.profile-page .profile-data img {
    margin-right: 3%;
    max-width: 64px;
    max-height: 64px;
}