@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

#login-form {
    margin-top: 45%;
}
.sign-up-form-container .upper-container
{
    display: flex;
    flex-direction: column;
}
.sign-up-form-container .upper-container h3
{
    text-align: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 56px;
    color: #233D4D;
    margin-bottom: 1%;
}

.sign-up-form-container .upper-container p,
.confirmation-email
{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    margin-top: 1%;
    margin-bottom: 0;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #322D38;
}
.sign-up-form-container .upper-container img {
       max-width: 20%;
       margin: 3% auto;
}
.sign-in-up-page {
    display: flex;
    flex-direction: row;
    min-width: 100%;
    justify-content: space-between;
}

.sign-in-up-page .left-container {
    min-width: 40%;
}
.sign-in-up-page .right-container {
    margin-right: 0;
    min-height: 100%;
}
.sign-in-up-page .right-container img {
    min-height: 100%
}

.desktop-nav-sign-forms {
    margin-top: 5%;
    margin-left: 6%;
}

.sign-up-form-container {
    max-width: 71%;
    margin: 30% auto;
}
 .sign-up-form-input {
    border: 1px solid rgba(0, 0, 0, 0.42);
    border-top: none;
    border-left: none;
    border-right: none;
}

.sign-up-form-input:focus {
    border: 1px solid rgba(0, 0, 0, 0.42);
    border-top: none;
    border-left: none;
    border-right: none;
}

.sign-up-form-container .input-container {
    display: flex;
    flex-direction: column;
}

.sign-up-form-container .input-container-name{
    display: flex;
    justify-content:space-between;
}
.sign-up-form-container .input-container-name .input-container{
    min-width: 48%;
}

.sign-up-form-container .input-container label,
.sign-up-form-container .input-container input {
    margin-bottom: 3%;
    margin-top: 3%;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
}
.sign-up-form-container .input-container label span {
    color: #322D38;
}
.sign-up-form-container .input-container img{
    position: absolute;
    margin-top: 3.3%;
    margin-left: 26.5%;

}

.green-btn {
    min-width: 100%;
    padding: 2.5% 0px;
    margin: 8px 0px;
    background-color: #619B8A;
    border-radius: 4px;
    border: none;
    color: white;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}

.sign-up-form-container .lower-part {
    display: flex;
    justify-content: space-between;
}
.sign-up-form-container .lower-part a {
    margin-top: 16px;
    margin-bottom: 16px;
    color: #619B8A;
    text-decoration: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}

.sign-up-form-container .lower-part p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #322D38;
}
@media screen and (min-width: 500px) {
    .Mobile-nav-logged-out{
        display: none;
    }
}

@media screen and (max-width: 500px) {
    .desktop-nav-sign-forms{
        display: none;
    }
    .right-container {
        display: none;
    }
    
    .sign-in-up-page {
        display: unset;
        min-width: 100%;
        min-height: 100%;
    }
    .sign-up-form-container .upper-container p {
        margin: 0 auto;
    }
    .sign-up-form-container{
       min-width: 80%;
    }

    .Mobile-nav-logged-out{
        max-width: 100%;
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.15);
        
    }

    .Mobile-nav-logged-out img {
        max-width: 140px;
        margin-top: 10%;
        margin-bottom: 4%;
        margin-left: 8%;
    }

    .Mobile-nav-logged-in .svg-outside,
    .Mobile-nav-logged-in a {
        margin-top: 9%;
        margin-left: 5%;
    }

    .Mobile-nav-logged-in img {
        max-width: 140px;
        margin-top: 10%;
        margin-bottom: 4%;
    }

    .Mobile-nav-logged-out .toggle-menu,
    .Mobile-nav-logged-in .toggle-menu {
        margin-top: 11.5%;
        margin-right:7%;
    
    }



    .Mobile-nav-logged-in  {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.15);
    }



    .mobile-nav-logged-out .toggle-menu .svg-outside {
        margin-top: 10%;
    
    }

    .links-inside {
        max-width: 81%;
        margin: 0 auto;
        
    }

    .links-inside .link-item-arrow .arrow-open {
        max-height: 15px;
        margin-top: 20px;
        margin-right: 10px;
    }

    .links-inside .link-item-arrow {
        display: flex;
        justify-content: space-between;
        max-height: 60px;
        margin-bottom:12%;
    }
    .links-inside .link-item-arrow-logged .arrow-open {
        max-height: 15px;
        margin-top: 10px;
        margin-right: 10px;
    }

    .links-inside .link-item-arrow-logged {
        display: flex;
        justify-content: space-between;
        max-height: 60px;
    }

    .links-inside .link-item img {
        width: 48px;
        height: 48px;
        margin-right: 13%;
        margin-top: 5%;
    }

    .links-inside .link-item {
        display: flex;
        justify-content: flex-start;
        margin-bottom: 10%;
    }

    .links-inside .link-item-arrow h5{
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 28px;
    	color: #233D4D;
        margin-top: 20px;
    }
    .links-inside .link-item-arrow-logged h5{
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 28px;
    	color: #233D4D;
        margin-top: 5px;
    }

    #green-color {
        color: #619B8A;
    }

    .links-inside .link-item p {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 28px;
        color: #233D4D;
    }

}

.desktop-nav-logged-out {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 92%;
    margin: 2% auto;
}

.desktop-nav-logged-out img {
    width: 9.8%;
    height: 100%;
}

.desktop-nav-logged-out .desktop-links-logged-out {
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin-top: 10px;
}

.desktop-nav-logged-out .desktop-links-logged-out li a{
    text-decoration: none;
    color: black;
}

.desktop-nav-logged-out .desktop-links-logged-out li{
    max-height: 30px;
}

.desktop-nav-logged-out .desktop-links-logged-out .sign-up-btn {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    background: #619B8A;
    border-radius: 4px;
    padding: 5% 19%;
    min-width: 150px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.desktop-nav-logged-out .desktop-links-logged-out .button {
    min-width: 100px;
}

.desktop-nav-logged-out .desktop-links-logged-out #or-li {
    width: 20px;
    margin-right: 10%;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #233D4D;
    margin-top: 1%;
}

.desktop-nav-logged-out .desktop-links-logged-out .button-white {
    width: 80px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #233D4D;
    margin-top: 1%;
}